In [2]:
import json
import pandas as pd

In [3]:
data = pd.read_csv('gdp/gdp12_19.csv')

In [5]:
data.head()

       States   2012   2013   2014   2015   2016   2017   2018   2019
0     Alabama  38687  38957  38591  39020  39211  39599  40599  41389
1      Alaska  78952  74281  72354  72948  71091  71282  72221  74422
2     Arizona  40929  40729  40663  41031  41669  42505  43546  44161
3    Arkansas  36836  37771  38058  38233  38309  38432  38971  39580
4  California  56510  58046  59915  62403  63853  66331  68970  70662

In [9]:
data.to_json (r'gdp\gdp12to19.json', orient='records')